<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
  <h1>Bezpieczna Strona</h1>
  <img src="../static/img/klodka.jpg" th:src="@{/img/klodka.jpg}"
        alt="Bezpieczna Strona"
        class="scaled-image"/>
  <a href="#" th:href="@{/secured}">Zabezpieczona Strona</a>
  <a href="#" th:href="@{/admin}">Panel admina</a>
</div>
</body>
</html>